spring:
  datasource:
    url: jdbc:mysql://localhost:3306/candyshop?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: validate        
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    # baseline-on-migrate: true   

server:
  port: 8080

app:
  jwt:
    secret: "aT92!kF7#QpL0zXy8mN3vR5sU1bC4dW6eH9jK2tG7rP0fL"
    expiration: 3600000
